<meta charset="UTF-8">
<title>VTHacks Challenge Submission Page</title>
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/reset.css">
<link rel="stylesheet" type="text/css" href="/style.css">
