<!--
* 0 1 2 3 4 5 6 7
0 N X X K O K P Y
1 D O C C A R P X
2 O I M O E P S C
3 E G Q L U H P O
4 R V G G A X H R
5 N N Z R S S A B
6 A O K N L F K U
7 J J K Q N E L F
-->
<img src="/fish.jpg" alt="A fish in the sea" width="50%">
<p><a href="http://michaeldanielho.com/tropical-fish.html">Photo credit</a></p>
<%/* comment
(2, -1) (4, -3) (7, -4) (-3, -3)
(2,-1)(4,-3)(7,-4)(-3,-3)
KDIsLTEpKDQsLTMpKDcsLTQpKC0zLC0zKQ==

ANGLER  BASS    CARP
COD GUPPY   SALMON
SHARK
*/%>
