<!-- The answer is not in the source, stop looking here -->
<img src="/flagset.png" alt="" width="100%">

<p style="font-family: 'Roboto Mono'">
    <i>In the ocean, things tend to bubble into place.</i>
</p>
