<!-- The answer is not in the source, stop looking here -->
<blockquote>
    The difference between something good and something great is attention to detail.
    — Charles R. Swindoll
</blockquote>
<p style="margin-top:20px">
    <img src="/box-jellyfish.jpg" alt="" style="width:calc(50% - 40px)">
    <img src="/turtle.jpg" alt="" style="float:right;width:calc(50% - 40px);margin-left:40px;">
</p>

<p>When you close eyes, you see mysterious and funny looking images. But if you open it, the mysterious images are gone. What Am I? (Hint: take the first letter)</p>

<p>What occurs once in every minute, twice in every moment, yet never in a t
ears?</p>

<p style="text-align:center">─────    ─────    ───5─</p>
