<!-- The answer is not in the source, stop looking here -->
<%/*
<p>
    The sky hangs clear over the Martian plain<br />
    The 22nd state unveils its new law<br />
    The red planet's cloudless again<br />
    Switzerland, ailed by jaundice<br />
    The northwest of Egmond, North Holland<br />
    Calmest midnight in the land of the rising sun<br />
    With care, marine scientists scrutinize the upper Chesapeake's state<br />

    France, mirrored<br />
    Unhappy division, on average pink
</p>
<blockquote>
    The key to reading is to picture each scene in your mind<br />
    — Elizabeth Ross
</blockquote>
*/%>

<img src="/soliloquy.png" alt="" width="100%">
